@import url("https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap");

* {
  box-sizing: border-box;
  font-family: "Quicksand", sans-serif;
}

body {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
}

/*Footer CSS*/

footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;

  margin-bottom: 0.6rem;
  border-top: solid 1px rgb(176, 176, 176);
  font-size: 12px;
}

footer > div {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

footer > div > a,
p {
  text-decoration: none;
  color: gray;
  margin: 0;
}

.footer--aTag {
  margin-top: 0.6rem;
  bottom: 0;
}

/* Header CSS */

header {
  width: 100%;
  height: 4.5rem;
  position: sticky;
  top: 0;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  font-family: "Quicksand", sans-serif;
  box-shadow: 0 2px 10px rgb(168, 168, 168);
}

.header--logo--div {
  display: flex;
  flex-direction: row;
  margin-left: 2.5rem;
}

.header--logo--div > a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 1rem;

  color: black;
}

.header--logo--div > img {
  object-fit: none;
}

.header--menu--icon {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-right: 2.5rem;

  cursor: pointer;
}

.poligon {
  width: 1rem;
  height: 1rem;
  box-shadow: -1px 1px rgb(236, 236, 236);
  transform: rotate(135deg);
  position: absolute;
  bottom: 7.1rem;
  right: 2rem;

  background-color: white;
}

.header--menu--dropdown {
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 1rem;
}

.header--menu--dropdown button {
  background-color: white;
  padding: 0.7rem;
}

.top--dropdown {
  border-radius: 0.5rem 0.5rem 0 0;
  border: none;
  box-shadow: 1px 1px 2px gray;
}

.middle--dropdown {
  border: solid 1px;
  border-right: none;
  border-left: none;
  border-color: rgb(228, 228, 228);
  box-shadow: 1px 1px 2px gray;

  text-align: left;
}
.bottom--dropdown {
  width: 100%;
  border-radius: 0 0 0.5rem 0.5rem;
  border: none;
  box-shadow: 1px 1px 2px gray;
  text-align: left;
}
